img {
    max-width: 190px;
    max-height: 50px;
}

.navbar-default {
    height: 60px;
    background-color: white;
}

.navbar-default
.navbar-nav > li {
    padding-top: 15px;
}

.navbar-default
.navbar-nav > li > a {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.navbar-default
.navbar-nav > li > a:hover {
    color: red;
    background-color: white;
}

.active {
    background-color: white;
    font-weight: bold;
}

.navbar-default
.navbar-nav > li > a:focus {
    color: black;
    background-color: white;
    font-weight: bold;
}
